* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 720px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button {
    background-color: #2e65cc;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #6994e6;
}

.error {
    color: red;
    border-color: red;
    outline-color: red;
}

#msg-sucesso{
    background-color: #6994e6;
    padding: 16px;
    color: #fff;
    display: none;}

#msg-invalido{
    background-color: #d35b5b
    ;
    padding: 16px;
    color: #fff;
    display: none;
}
